<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" opened>
    <div class="drawer-container">
      <mat-form-field>
        <span matPrefix>/r/</span>
        <mat-label>Subreddit</mat-label>
        <mat-select [(value)]="currentSubreddit" (selectionChange)="onSubredditChange($event)">
          <mat-option *ngFor="let subreddit of subreddits" [value]="subreddit">{{subreddit}}</mat-option>
          <mat-option (click)="setCustomSubreddit($event)">Custom</mat-option>
          <mat-option [value]="currentSubreddit">{{currentSubreddit}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="customSubreddit">
        <span matPrefix>/r/</span>
        <mat-label>Subreddit</mat-label>
        <input matInput placeholder="videos" [(value)]="currentSubreddit">
        <mat-icon (click)="changeSubreddit(currentSubreddit)">delete</mat-icon>
      </mat-form-field>

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile class="video-thumbnail" *ngFor="let video of videos"
          [style.backgroundImage]="'url(' + video.media.oembed.thumbnail_url + ')'" [matTooltip]="video.title"
          (click)="selectVideo(video.youtubeId)">
        </mat-grid-tile>
      </mat-grid-list>
      <button mat-button (click)="loadMore()">Load More</button>
    </div>
  </mat-drawer>

  <div class="player">
    <youtube-player (ready)="onPlayerReady($event)" (stateChange)="onPlayerStateChange($event)" width="100%"
      height="100%" [videoId]="currentVideo?.youtubeId"></youtube-player>
  </div>

  <div class="overlay">
    <div class="side-open" (click)="drawer.toggle()"></div>
  </div>
</mat-drawer-container>
