# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14.16.0 游릴
        uses: actions/setup-node@v1
        with:
          node-version: 14.16.0

      - name: Install dependencies 游닌
        run: npm install

      - name: Lint 九勇
        run: npm run lint
        continue-on-error: true

      - name: Test 游빍
        run: npm run test
        continue-on-error: true

      - name: Check for updates 驕뢢잺
        run: ng update @angular/material
        continue-on-error: true

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14.16.0 游릴
        uses: actions/setup-node@v1
        with:
          node-version: 14.16.0

      - name: Install dependencies 游닌
        run: npm install

      - name: Build 游댢
        run: npm run build-ghpages

      - name: 游 Archive build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist/

  deploy:
    if: github.actor != 'dependabot[bot]' && github.actor != 'dependabot-preview[bot]'
    runs-on: ubuntu-latest

    steps:
      - name: 拘勇 Download build artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist

      - name: 404 GitHub Pages 丘멆잺
        run: cp reddit-yt/index.html reddit-yt/404.html

      - name: Check GitHub Pages Status 游
        if: github.actor != 'dependabot[bot]' && github.actor != 'dependabot-preview[bot]'
        uses: crazy-max/ghaction-github-status@v1
        with:
          pages_threshold: major_outage

      - name: Deploy to GitHub Pages 游
        if: success() && github.actor != 'dependabot[bot]' && github.actor != 'dependabot-preview[bot]'
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: reddit-yt
          fqdn: watch.austen.info
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
